# Configuração de Fuso Horário
TZ=America/Sao_Paulo

# Porta do Painel Web
WEB_PORT=8005

# PostgreSQL
POSTGRES_USER=conekta
POSTGRES_PASSWORD=conekta
POSTGRES_DB=conektabots

# Configurações Shopee (Opcional - Pode ser configurado via Painel Web)
SHOPEE_APP_ID=
SHOPEE_APP_SECRET=
